body {
    padding: 10px;
    background: #85a107;
    font-family: Arial, sans-serif;
    margin: 10px;

}
header {
    background-color: rgb(105, 11, 85);
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background 0.3s ease, box-shadow 0.3s ease;

}
header:hover {
    background: #a07313;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}
.content {
    flex: 3;
    background: #fff;
    padding: 20px;
    border-radius: 6px;

}
.container {
    display: flex;
    gap: 25px;
    padding: 25px;
    align-items: flex-start;
}
.favorites {
    flex: none;
    width: 200px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    border-left: 5px solid #4CAF50;
}
button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 8px 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

}
button:hover {
    background: #7a1433;
    transform: scale(1.05);
}
.favorites ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;

}
.favorites li {
    background: red;
    color: white;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

}
.favorites li:hover {
    background: darkred;
    transform: translateX(4px);
}
 input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease, box-shadow 0.3s ease;

 }
 input[type="text"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(17, 118, 12, 0.5);
    outline: none;
 }
 @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .favorites {
        width: 100%;
        margin-top: 20px;
        border-left: none;
        border-top: 5px solid #4CAF50;
    }
 }
 .synonyms {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}
